
    .topHeader{position:fixed;max-height:70px;z-index:999;width:100%;/*padding-top:10px;padding-bottom:10px;*/overflow-y:hidden;-webkit-transition:all .3s;transition:all .3s;background-color:#FFFFFF!important;top:0;border-bottom:1px solid #c7dbe9;box-shadow: 1px 0 20px rgba(0,0,0,.2);}
    .open-nav{max-height:450px!important}
    .open-nav .mobile-toggle{transform:rotate(-90deg);-webkit-transform:rotate(-90deg)}
    .logo{width:50px;float:left;display:block;padding-top:10px;padding-bottom:10px;}
    nav{float:right;/*padding-top:15px;padding-bottom:15px;*/}
    nav ul{list-style:none;overflow:hidden;text-align:right;float:right;padding-left:0px;margin:0px;}
    nav ul li{display:inline-block;/*margin-left:35px;line-height:1.5*/line-height:66px;padding-left:12px;padding-right:12px;border-top:4px solid #FFFFFF;}
    nav ul li a{color:#888;font-size:15px;display:block;}
	nav ul li a i{margin-right:4px;}
    nav ul li a:hover{color:#035592;cursor:pointer;}
    nav ul li.active{border-top: 4px solid #89b5d7;background-color:#ecf0f3;color:#035592;}
	nav ul li.active a, nav ul li.active a i{color:#035592;}
    .mobile-toggle{display:none;cursor:pointer;font-size:20px;position:absolute;right:10px;/*top:10px;*/top:25px;width:30px;-webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;transition:all .2s ease-in}
    .mobile-toggle span{width:30px;height:4px;margin-bottom:6px;border-radius:1000px;background:#7996ab;display:block}
    .mouse{display:block;margin:0 auto 0 -26px;width:26px;height:46px;border-radius:13px;border:2px solid #e8f380;bottom:40px;position:absolute;left:50%}
    .mouse span{display:block;margin:6px auto;width:2px;height:2px;border-radius:4px;background:#e8f380;border:1px solid transparent;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-name:scroll;animation-name:scroll}
    @-webkit-keyframes scroll{0%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
    100%{opacity:0;-webkit-transform:translateY(20px);transform:translateY(20px)}}
    @keyframes scroll{0%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
    100%{opacity:0;-webkit-transform:translateY(20px);-ms-transform:translateY(20px);transform:translateY(20px)}}
	
	.iframe-container{margin-top:70px;}	
	.loadIframe {position: relative;padding-bottom: 65.25%;/*padding-top: 30px;*/padding-top: 100px;height: 0;overflow: auto;-webkit-overflow-scrolling:touch;} 
	.loadIframe iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
	
    @media only screen and (max-width:766px){.topHeader{/*padding-top:15px*/}.logo{float:left;padding-top:10px;padding-bottom:10px;}.mobile-toggle{display:block}nav{width:100%}nav ul{/*padding-top:10px;margin-bottom:22px;*/float:left;text-align:center;width:100%}nav ul li{width:100%;padding:7px 0;margin:0;line-height:40px;}.loadIframe{padding-top:30px;padding-bottom:165.25%;} 